/* Aplicar box-sizing para que padding y border se incluyan en el ancho total */
*, *::before, *::after {
  box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background: #fff;
}

.navbar {
    background-color: rgb(218, 3, 3);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1001; /* Asegura que se superponga */
    padding: 10px 0;
}

/* Contenedor principal */
.main-wrapper {
  width: 100%;
  margin-top: 60px; /* Espacio igual a la altura del navbar */
}

/* Contenedor del modelo 3D ocupando toda la pantalla disponible */
.model-container {
  width: 100%;
  height: calc(100vh - 60px); /* Altura del viewport menos la altura del navbar */
  position: relative;
}

/* Contenedor del embed de Sketchfab */
.sketchfab-embed-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

.sketchfab-embed-wrapper iframe {
  width: 100%;
  height: 100%;
}

/* Marcadores (hotspots) – posicionados de forma absoluta */
.marker {
  position: absolute;
  top: 70%;
  left: 55%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  z-index: 10;
}
  