body {
  margin: 0;
  padding: 0;
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: none;
  font-family: Arial, sans-serif;
}

.navbar {
  background-color: rgb(218, 3, 3);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  padding: 10px 0;
}

.navbar-nav {
  display: flex;
  justify-content: end;
  width: 100%;
  gap: 2rem;
}

.navbar-nav .nav-link {
  color: white !important;
  font-weight: bold;
  padding: 10px 15px;
}

.navbar-nav .nav-link:hover {
  text-decoration: underline;
}


.audio-control {
  position: fixed;
  bottom: 20px;
  left: 20px;
  background: rgba(0, 0, 0, 0.7);
  padding: 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.audio-btn {
  background: none;
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.audio-btn:hover {
  color: #ddd;
}

#volumeControl {
  width: 100px;
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
  background: red;
  height: 5px;
  border-radius: 5px;
  outline: none;
}

/* Personalizar el thumb (punto deslizante) */
#volumeControl::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background: white;
  border-radius: 50%;
  cursor: pointer;
}

#volumeControl::-moz-range-thumb {
  width: 15px;
  height: 15px;
  background: white;
  border-radius: 50%;
  cursor: pointer;
}

.canvas-3d {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

#canvas3D {
  width: 80%;
  height: 80%;
}